
    <header>
        <nav class="nav">
            <h1 class="nav__logo">Halo.</h1>
            <ul class="nav__menu">
                <li class="nav__menu__item">About</li>
                <li class="nav__menu__item">Releases</li>
                <li class="nav__menu__item">Contact Us</li>
            </ul>
            <div class="nav__user">
                <img class="nav__user__search" src="../icons/icon-search.svg" alt="search">
                <button class="nav__user__btn">Sign up</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <h2 class="welcome__heading">Email Confirmation Successful, please <a href="/">Login</a></h2>
        </section>
    </main>
